html {
    max-width: 100%;
    overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
title {
    display: none;
}
.MODA_HEADER {
    align-items: center;
    width: 100%;
}
.LOGO {
    text-decoration:none;
    text-align: center;
    padding: 35px 0 15px 0;
    width: 100%;
    height: 80px;
    box-sizing: border-box !important;
}
img {
    height: 25px;
    width: auto;
    line-height: 20px;
    color: #3c1315;
    opacity: .75;
}
table {
    width: 100%;
}
.MODA_NAV {
    height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 0 0 15px 0;
    text-decoration: none !important;
    width: 100%;
    border-bottom: 1px solid #F3F3F3;
    padding-bottom: 10px;
}
.NAVLINK {
    padding: 0 10px;
    color: #222222;
    letter-spacing: 0.15em;
    text-decoration: none !important;
    text-decoration-line: none !important;
    opacity: .5;
}
.content-header {
    padding: 25px 7.5% 10px 7.5%;
    display: inline-block;
    width: 100%;
    box-sizing: border-box !important;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-family: 'Montserrat', sans-serif;
}
.left {
    font-weight: 500;
    float: left;
}
.right {
    font-weight: 200;
    float: right;
}
.border {
    width: 85%;
    border-bottom: 1.25px solid black;
    margin-left: 7.5%;
    margin-right: 7.5%;
}
.TRUNKSHOW_TOPPER {
    padding-top: 30px;
    align-items: center;
}
.TRUNKSHOW_NAME {
    font-family: 'Prata', serif;
    opacity: .75;
    /*font-family: 'Frank Ruhl Libre', serif;*/
    text-align: center;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: .5px;
}
.PRE-ORDER_LINK {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
a {
    text-decoration: none !important;
    color: black;
}
.HERO_IMAGE img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.picks-header {
    height: 68px;
    margin-top: 30px;
    padding: 0 2.5%;
    width: 100%;
    max-width: 100%;
    float: left;
}
.picks-header h2 {
    display: inline-block;
    height: 100%;
    width: 23%;
    font-family: 'Prata', serif;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
}
.picks-border {
    display: inline-block;
    width: 38%;
    height: 12px;
    border-top: 1.25px solid rgba(0,0,0, 0.5);
}
.PRODUCT_GRID {
    padding: 0 15%;
    width: 100%;
    height: auto;
    display: inline-block;
}
.product {
    display: inline-block;
    float: left;
    width: 50%;
    height: 350px;
    background-color: red;
}
.trunkshow-border {
    width: 85%;
    border-bottom: 1.25px solid lightgrey;
    margin: 20px 7.5%;
}
.email-footer {
    margin-top: 20px;
    height: 300px;
    width: 100%;
    padding: 20px;
    background-color: #734F59;
}
.CONTACT_INFO {
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    opacity: .8;
}
.CONTACT_INFO p {
    padding: 5px;
    width: 100%;
    font-size: 12px;
    letter-spacing: .5px;
}
.CONTACT_INFO h6 {
    padding: 5px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.5px;
}
.CONTACT_INFO p a {
    color: white !important;
}
.CONTACT_INFO p a :hover {
    font-weight: bold;
}
.footer-border {
    width: 100%;
    margin: 15px 0 10px 0;
    border-bottom: 1px solid white;
}
.download-mo {
    letter-spacing: .5px;
    margin: 0 5px;
}
.social-link {
    margin: 0 5px;
}
.bottom {
    margin-top: 15px;
}