html {
    max-width: 100%;
    overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
title {
    display: none;
}
a {
    text-decoration: none !important;
    color: black;
}
a:hover, a:active {
    text-decoration-line: underline !important;
}
.MODA_HEADER {
    align-items: center;
    width: 100%;
}
.LOGO {
    text-decoration:none;
    text-align: center;
    padding: 35px 0 15px 0;
    width: 100%;
    height: 80px;
    box-sizing: border-box !important;
}
img {
    height: 25px;
    width: auto;
    line-height: 20px;
    color: #3c1315;
    opacity: .75;
}
table {
    width: 100%;
}
.MODA_NAV {
    height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 0 0 15px 0;
    text-decoration: none !important;
    width: 100%;
    border-bottom: 1px solid #F3F3F3;
    padding-bottom: 10px;
}
.NAVLINK {
    padding: 0 10px;
    color: #222222;
    letter-spacing: 0.15em;
    text-decoration: none !important;
    text-decoration-line: none !important;
    opacity: .5;
}
.content-header img {
    width: 100%;
    height: auto;
}
.TRUNKSHOW_TOPPER {
    padding-top: 30px;
    align-items: center;
}
.TRUNKSHOW_NAME {
    font-family: 'Prata', serif;
    opacity: .75;
    text-align: center;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: .5px;
}
.PRE-ORDER_LINK {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
.PRE-ORDER_LINK i {
    opacity: .55;
}

.HERO_IMAGE img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    opacity: 1;
}
.picks-header img {
    margin-top: 30px;
    padding: 0 5%;
    width: 100%;
    max-width: 100%;
    height: auto;
    float: left;
    margin-bottom: 2.5%;
}
.picks-header h2 {
    display: inline-block;
    height: 100%;
    width: 23%;
    font-family: 'Prata', serif;
    font-weight: 100;
    font-size: 3.25vw;
    text-align: center;
}
.picks-border {
    display: inline-block;
    width: 37.5%;
    height: 12px;
    border-top: 1.25px solid rgba(0,0,0, 0.5);
}
.PRODUCT_GRID {
    padding: 0 15%;
    width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: 40px;
}
.PRODUCT_GRID .PRE-ORDER_LINK {
    padding-bottom: 2.5%;
}
.product {
    display: inline-block;
    float: left;
    width: 45%;
    margin: 0 2.5% 2.5% 2.5%;
    height: 350px;
    background-color: red;
    box-shadow: 5px 5px 10px 2.5px pink;
}
.trunkshow-border {
    width: 85%;
    border-bottom: 1.25px solid lightgrey;
    margin: 20px 7.5%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
